<h3 class="join_ID">
    <label for="ID">아이디</label>
</h3>
<span class="join_inputID">
        <input type="text" id="ID" maxlength="10">
    </span>

<span class="join_errorNextbox" id="join_errorMsg_idInUse">
        이미 사용중인 아이디 입니다.
    </span>

<span class="join_errorNextbox" id="join_errorMsg_emptyField">
        필수 정보입니다.
    </span>

<!-- 비밀번호 입력 필드 -->
<h3 class="join_PW">
    <label for="PW">비밀번호</label>
</h3>
<span class="join_inputPW">
        <input type="text" id="PW" maxlength="20">
    </span>

<span class="join_errorNextbox" id="join_errorMsg_emptyField">
        필수 정보입니다.
    </span>

<span class="join_errorNextbox" id="join_errorMsg_passwordLength">
        8~16자 영문, 숫자, 특수문자를 사용해 주세요.
    </span>

<!-- 비밀번호 재입력 필드 -->
<h3 class="join_PW">
    <label for="PW_2">비밀번호 재입력</label>
</h3>
<span class="join_inputPW">
        <input type="text" id="PW_2" maxlength="20">
    </span>

<span class="join_errorNextbox" id="join_errorMsg_emptyField">
        필수 정보입니다.
    </span>

<span class="join_errorNextbox" id="join_errorMsg_passwordMatch">
        비밀번호가 일치하지 않습니다.
    </span>

<!-- 가입 버튼 area -->
<div class="join_btnArea">
    <button type="button" id="joinBtn" class="join_btn">
        가입하기
    </button>

</div>